.main {
	width: 100%;
	height: calc(100vh - var(--header-height));
	display: flex;
	flex-direction: column;
}

.drawer {
	position: fixed;
	width: 20em;
	height: 100%;
	margin-top: 1em;
	z-index: 10;
	background: rgb(var(--color--background-100));
	margin-top: var(--header-height);
}
