.drums {
	--button-width: 64px;
	--scrollbar-width: 16px;
	display: flex;
	height: inherit;
	flex-direction: column;
}

.played {
	height: 20%;
}

.grid {
	height: 80%;
	display: grid;
	--pad-width: calc(var(--button-width) * 2 + var(--scrollbar-width));
	grid-template-columns: var(--pad-width) [img] minmax(200px, 1fr) var(--pad-width);
}

.pad {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: auto;
}

.pad > button {
	width: 50%;
	height: var(--button-width);
}

.drumKit {
	display: block;
	grid-column: img;
	grid-row: 1;
}

.text {
	font-size: 32px;
	text-anchor: middle;
	fill: black;
	fill-opacity: 1;
	stroke-width: 0;
	user-select: none;
}
