.drums {
	--button-width: 64px;
	--scrollbar-width: 16px;
	display: flex;
	height: inherit;
}

.pad {
	flex: 1;
	min-width: calc(var(--button-width) * 2 + var(--scrollbar-width));
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow-y: auto;
}

.pad > button {
	width: var(--button-width);
	height: var(--button-width);
}

.drumKit {
	height: inherit;
	display: block;
	justify-self: center;
	align-self: end;
}

.text {
	font-size: 32px;
	text-anchor: middle;
	fill: black;
	fill-opacity: 1;
	stroke-width: 0;
	user-select: none;
}
