.drums {
	--button-width: 64px;
	display: flex;
	height: inherit;
}

.pad {
	flex: 1;
	display: grid;
	min-width: var(--button-width);
	grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
	align-content: start;
	overflow-y: auto;
}

.pad > button {
	aspect-ratio: 1 / 1;
}

.drumKit {
	max-height: 100%;
	flex: 6;
	display: block;
	justify-self: center;
	align-self: end;
}

.text {
	font-size: 32px;
	text-anchor: middle;
	fill: black;
	fill-opacity: 1;
	stroke-width: 0;
	user-select: none;
}
