.nav {
	padding: 0 1em;
	display: flex;
	align-items: center;
	height: var(--header-height);
	width: 100vw;
}
.nav > * {
	margin: 0 .8em;
}
.link {
	font-size: 32px;
	color: rgb(var(--color--link));
	text-decoration-line: none;
}
.active {
	font-weight: 200;
	text-decoration-line: underline;
}
.analyzer {
	flex: 1;
	height: var(--header-height);
}
.volume > button {
	margin-right: .5em;
}
