.played {
	flex: 2 2 auto;
	width: 100%;
	display: grid;
}

.played > * {
	min-height: 0;
	display: block;
	grid-area: 1/1;
}

.played > daw-piano-played {
	z-index: 2;
}

.piano {
	height: 33vh;
	width: 100%;
}
