.played {
	width: 100%;
	display: grid;
	height: 66%;
}

.played > * {
	min-height: 0;
	display: block;
	grid-area: 1/1;
}

.played > daw-piano-played {
	z-index: 2;
}

.piano {
	height: 34%;
}

.piano > daw-piano {
	height: 100%;
	width: 100%;
	display: block;
}
