.editor {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 100%;
	flex: 1;
}

.editor > * {
	width: 100%;
}

.editor > label {
	display: flex;
}

.editor  input {
	flex: 1;
}


.builder {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dropZone {
	min-height: 64px;
	border: 1px dashed gray;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.builder > ul {
	flex-grow: 1;
}

.titleRow {
	display: flex;
	align-self: flex-start;
	justify-content: space-between;
	margin-bottom: .5rem;;
}

.failed {
	background: rgb(var(--color--error-100));
	color: white;
}

.loading {
	background: rgb(var(--color--warning-100));
	color: black;
}

.willAccept {
	background: rgb(var(--color--success-100));
}

.willReject {
	background: rgb(var(--color--error-100));
}
