:root {
	--color--background-100: 237, 237, 237;
	--color--background-200: 221, 221, 221;
	--color--primary-100: 74, 74, 74;
	--color--primary-200: 245, 245, 245;
	--color--secondary-100: 54, 54, 54;
	--color--secondary-200: 181, 181, 181;
	--color--border-100: 219, 219, 219;
	--color--link: 50, 115, 220;
	--color--error-100: 198, 43, 43;
	--color--warning-100: 229, 212, 43;
	--color-whiteKey-background: var(--color--background-200);
	--color-blackKey-background: 50, 50, 50;
	--color-whiteKey-border: var(--color--secondary-200);
	--width-button-border: 1px;
	--height-whiteKey: 400px;
}
.dark {
	--color--background-100: 18, 18, 18;
	--color--background-200: 34, 34, 34;
	--color--primary-100: 181, 181, 181;
	--color--primary-200: 10, 10, 10;
	--color--secondary-100: 201, 201, 201;
	--color--secondary-200: 74, 74, 74;
	--color--border-100: 36, 36, 36;
	--color--link: 205, 140, 35;
	--color--warning-100: 229, 212, 87;
	--color--error-100: 135, 39, 39;
	--color-whiteKey-background: 90, 90, 90;
}

html, body, div[id='root'] {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}
html,
body,
button,
input,
select,
textarea {
	background: rgb(var(--color--background-100));
	color: rgb(var(--color--primary-100));
}

a {
	color: rgb(var(--color--link));
}

button,
input,
select,
textarea {
	border: var(--width-button-border) solid rgb(var(--color--primary-100));
}

button:disabled {
	background: rgb(var(--color--secondary-200));
}
button:active:not([tabindex="-1"]):not(:disabled):not(:has(button:active)) {
	background: rgb(var(--color--primary-100));
	color: rgb(var(--color--background-100));
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.3rem; }

.page {
	/* https://stackoverflow.com/questions/52487743/prevent-flex-item-from-exceeding-parent-height-and-make-scroll-bar-work */
	flex-grow: 1;
	min-height: 0;
	overflow: auto;
}
