.key {
	/* Set in JS based on velocity */
	--mix-perc: 50%;

	flex-shrink: 0;
}
.key > button {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
	color: white;
}
.key.white > button {
	padding-top: calc(var(--white-height) - 10em);
}
.key.black > button {
	padding-top: calc(var(--black-height) - 10em);
}

.white {
	--background: rgb(var(--color-whiteKey-background));
	--darkened: color-mix(in srgb, var(--background), black var(--mix-perc));

	width: var(--white-width);
	height: var(--white-height);
	border: 1px solid rgb(var(--color-whiteKey-border));
	border-radius: 0 0 5px 5px;
	background: var(--background);
}

.black:not(:first-child),
.key:not([data-key-name="C"]):not([data-key-name="F"]):not(:first-child)
{
	margin-left: calc(var(--black-width) / -2);
}

.black {
	--background: rgb(var(--color-blackKey-background));
	--darkened: color-mix(in srgb, var(--background), black var(--mix-perc));

	background: var(--background);
	width: var(--black-width);
	height: var(--black-height);
	z-index: 2;
}

.held {
	background: linear-gradient(to bottom, var(--background), var(--darkened));
}

.hotkey {
	color: rgb(var(--color--primary-100));
}
