.samples {
	--width-button: 4em;
	display: grid;
	grid-template-columns: repeat(auto-fit, 12em);
	grid-gap: 1em;
}

.sample {
	display: inline-block;
}

.button {
	width: 25%;
	aspect-ratio: 1/1;
}

.button:active {
	background: rgb(var(--color--primary-100));
	color: rgb(var(--color--background-100));
}
