.samples {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
	grid-gap: 1em;
}

.sample {
	display: inline-block;
}

.button {
	width: 25%;
	aspect-ratio: 1/1;
}

.button:active {
	background: rgb(var(--color--primary-100));
	color: rgb(var(--color--background-100));
}

.sequencePad {
	display: grid;
	grid-template-columns: 200px repeat(8, minmax(2em, 1fr));
	width: 100%;
}

.sequencePad > button {
	height: 64px;
}

.scheduled {
	background: yellow;
}
