.samples {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
	grid-gap: 1em;
}

.sample {
	display: inline-block;
}

.button {
	width: 25%;
	aspect-ratio: 1/1;
}

.button:active {
	background: rgb(var(--color--primary-100));
	color: rgb(var(--color--background-100));
}

.sequencePad {
	--grid-height: 64px;

	display: flex;
	width: 100%;
}

.seqenceHeadings {
	display: flex;
	flex-direction: column;
}

.seqenceHeadings > button {
	height: var(--grid-height);
}

.beats {
	--n-columns: 8;

	display: grid;
	grid-template-columns: repeat(var(--n-columns), minmax(2em, 1fr));
	width: 100%;
	overflow: auto;
}

.beats > button {
	height: var(--grid-height);
	border-color: rgb(var(--color--border-100));
}

.beats > button.barStart {
	border-left-color: rgb(var(--color--primary-100));
}

.scheduled {
	background: rgb(var(--color--secondary-100));
}

.loop {
	background: green;
}

