.piano {
	list-style: none;
	user-select: none;
	position: relative;
	display: flex;
	overflow: auto;
}

.piano :first-child {
	border-radius: 5px 0 5px 5px;
}

.piano :last-child {
	border-radius: 0 5px 5px 5px;
}

